@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2"); }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2"); }

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px; }

a {
  color: black;
  text-decoration: none; }

a:hover,
a:focus {
  outline: none; }

img {
  max-width: 100%; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

input::-webkit-input-placeholder {
  color: #c7c7c7; }

input:-ms-input-placeholder {
  color: #c7c7c7; }

input::-ms-input-placeholder {
  color: #c7c7c7; }

input:placeholder {
  color: #c7c7c7; }

input:focus::-webkit-input-placeholder {
  opacity: 0; }

input:focus:-ms-input-placeholder {
  opacity: 0; }

input:focus::-ms-input-placeholder {
  opacity: 0; }

input:focus:placeholder {
  opacity: 0; }

textarea::-webkit-input-placeholder {
  color: #c7c7c7; }

textarea:-ms-input-placeholder {
  color: #c7c7c7; }

textarea::-ms-input-placeholder {
  color: #c7c7c7; }

textarea:placeholder {
  color: #c7c7c7; }

textarea:focus::-webkit-input-placeholder {
  opacity: 0; }

textarea:focus:-ms-input-placeholder {
  opacity: 0; }

textarea:focus::-ms-input-placeholder {
  opacity: 0; }

textarea:focus:placeholder {
  opacity: 0; }

.page-header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 320px; }

.page-header__logo {
  margin: auto;
  width: 86px;
  height: 35px; }

.page-header__logo--image-link:hover, .page-header__logo--image-link:focus {
  opacity: 0.6; }

.page-header__logo--image-link:active {
  opacity: 0.3; }

@media (min-width: 768px) {
  .page-header__logo {
    margin: 0;
    width: 112px;
    height: 46px; } }

@media (min-width: 1150px) {
  .page-header__logo {
    margin: auto;
    width: 149px;
    height: 72px; } }

.main-nav {
  position: relative;
  max-width: 320px; }

.main-nav__toggle {
  position: absolute;
  border: none;
  background-color: transparent;
  display: none;
  width: 21px;
  height: 21px;
  right: 10%;
  top: 30px; }

@media (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%; }
  .main-nav__box {
    min-width: 768px; } }

@media (min-width: 1150px) {
  .main-nav {
    max-width: 100%; }
  .main-nav__box {
    min-width: 1150px; } }

.button {
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  font-size: 17px;
  display: block;
  width: 260px;
  min-height: 52px;
  text-align: center;
  padding: 13px 0;
  cursor: pointer; }

.button--greyish-brown {
  line-height: 20px;
  color: #454545;
  border: 2px solid #454545; }
  .button--greyish-brown:hover, .button--greyish-brown:focus {
    color: white;
    background-color: #454545; }
  .button--greyish-brown:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #454545; }

.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.site-list__item {
  position: relative;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 24%;
  padding-right: 5%;
  border-bottom: 1px solid #ededed;
  background-color: white; }

.site-list__item--logo {
  min-width: 320px;
  padding-left: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.site-list__item--icon {
  position: absolute;
  -webkit-transform: translateX(-44px);
          transform: translateX(-44px);
  width: 21px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0; }

.site-list__item--icon-search,
.site-list__item--icon-shopping-cart {
  fill: #cccccc; }

.site-list__item--text-search {
  margin: 0; }

@media (min-width: 768px) {
  .site-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    max-width: 768px;
    position: relative; }
  .site-list__item {
    border: 1px solid #ededed;
    border-right: none;
    padding: 30px 0;
    width: 41.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .site-list__item:last-child {
      border-right: 1px solid #ededed; }
  .site-list__item--logo {
    margin: 0;
    padding-top: 22px;
    padding-left: 51px;
    padding-bottom: 20px;
    text-align: left;
    width: 372px; }
  .site-list__item--overflow {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border: none;
    background-color: transparent;
    font-size: 15px;
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 0;
    width: 24%; }
  .site-list__item--catalog {
    padding-left: 49px; }
  .site-list__item--search {
    width: 10%; }
  .site-list__item--text-search {
    display: none; }
  .site-list__item--icon {
    position: relative;
    margin: 0 31px;
    vertical-align: middle; } }

@media (min-width: 1150px) {
  .site-list {
    max-width: 1150px; }
  .site-list__item {
    padding-top: 30px;
    padding-bottom: 32px;
    width: 19.6%;
    letter-spacing: 0.1px; }
  .site-list__item--overflow {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    border: 1px solid #ededed;
    border-right: none;
    padding-left: 35px;
    font-size: 17px; }
  .site-list__item--catalog {
    padding-left: 48px;
    width: 20.3%; }
  .site-list__item--logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: auto;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: 25.5%;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 7px;
    border: 1px solid #ededed;
    border-right: none;
    border-left: none; }
  .site-list__item--search {
    width: 7.1%; }
  .site-list__item--shopping-cart {
    width: 27.5%; }
  .site-list__item--icon {
    margin: 0 28px; } }

.link:hover, .link:focus {
  color: #666666; }

.link:active {
  color: #b3b3b3; }

.link--shadow:hover, .link--shadow:focus {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }

.link--shadow:active {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }

.link--input:hover, .link--input:focus, .link--input:active {
  border-bottom: 2px solid #61d1bb;
  -webkit-box-shadow: none;
          box-shadow: none; }

.link--texarea:hover, .link--texarea:focus, .link--texarea:active {
  border: 2px solid #61d1bb;
  -webkit-box-shadow: none;
          box-shadow: none; }

.link-icon-interaction:hover svg,
.link-icon-interaction:focus svg {
  fill: #47c2af;
  opacity: 1; }

.link-icon-interaction:active svg {
  fill: #47c2af;
  opacity: 0.3; }

.page-main {
  min-width: 320px;
  margin-bottom: 40px; }

@media (min-width: 768px) {
  .page-main {
    margin-top: -70px;
    margin-bottom: 58px; } }

@media (min-width: 1150px) {
  .page-main {
    margin-top: -60px;
    margin-bottom: 100px; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.description {
  margin: 0;
  margin-top: -20px;
  text-align: center;
  min-height: 373px; }

.description__text {
  font-size: 26.5px;
  font-weight: 700;
  line-height: 29.5px;
  margin: 0;
  padding: 0 15px;
  padding-top: 90px;
  letter-spacing: 0.4px; }

.description--image {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .description--image {
      background-image: url("../img/hero-mobile@2x.jpg"); } }

@media (min-width: 768px) {
  .description {
    min-height: 746px; }
  .description__text {
    font-size: 43px;
    line-height: 50px;
    padding-top: 152px;
    letter-spacing: normal; }
  .description--image {
    background-image: url("../img/hero-tablet@1x.jpg"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .description--image {
      background-image: url("../img/hero-tablet@2x.jpg"); } }

@media (min-width: 1150px) {
  .description__text {
    font-size: 53px;
    line-height: 57px;
    padding-top: 154px; }
  .description--image {
    background-image: url("../img/hero-desktop@1x.jpg"); } }
  @media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
    .description--image {
      background-image: url("../img/hero-desktop@2x.jpg"); } }

.store-assortment {
  display: block;
  margin-top: -73px; }

.store-assortment__list {
  max-width: 668px;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 auto; }

.store-assortment__menu {
  margin: auto; }

.store-assortment--wrapper {
  width: 100%;
  margin-bottom: 29px; }

@media (min-width: 768px) {
  .store-assortment {
    margin-top: -120px; }
  .store-assortment--wrapper {
    margin-bottom: 32px; }
  .store-assortment__menu {
    margin: 0;
    width: calc(50% - 50px); }
    .store-assortment__menu:first-child {
      margin-left: 50px; }
    .store-assortment__menu:last-child {
      margin-right: 50px; }
  .store-assortment__list {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .store-assortment__list::after {
      content: "";
      width: 100%;
      height: 24px;
      margin-top: -14px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: 0 0;
      background-size: cover; } }

@media (min-width: 1150px) {
  .store-assortment {
    margin-top: -118px; }
  .store-assortment--wrapper {
    margin-bottom: 106px; }
  .store-assortment__menu {
    width: 525px; }
    .store-assortment__menu:first-child {
      margin-left: auto; }
    .store-assortment__menu:last-child {
      margin-right: auto; }
  .store-assortment__list::after {
    height: 34px;
    margin-top: -18px; } }

.assortment-item {
  font-weight: 700; }
  .assortment-item:hover, .assortment-item:focus {
    -webkit-transform: scaleY(5px);
            transform: scaleY(5px);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    padding-bottom: 5px;
    outline: none; }

.assortment-item--interior {
  background-color: #62d0ba; }
  .assortment-item--interior:hover, .assortment-item--interior:focus {
    background-color: #58d5bc; }
  .assortment-item--interior:active {
    background-color: #58d5bc;
    color: rgba(255, 255, 255, 0.3); }

.assortment-item--toys {
  background-color: #55c3b3; }
  .assortment-item--toys:hover, .assortment-item--toys:focus {
    background-color: #47c2af; }
  .assortment-item--toys:active {
    background-color: #47c2af;
    color: rgba(255, 255, 255, 0.3); }

.assortment-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white; }

.assortment-item__link--text {
  font-size: 19px;
  margin: 0;
  padding-top: 26px;
  padding-bottom: 29px;
  padding-left: 29px;
  width: 160px;
  letter-spacing: normal; }

.assortment-item__link--icon {
  padding: 0;
  margin: auto;
  margin-right: 27px;
  width: 60px;
  height: 63px;
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.5; }

.assortment-item__link--icon-interior {
  margin-top: 23px;
  background-image: url(../img/icon-interior.svg); }

.assortment-item__link--icon-toy {
  background-image: url(../img/icon-toy.svg); }

.assortment-item__link--icon-image:hover .assortment-item__link--icon,
.assortment-item__link--icon-image:focus .assortment-item__link--icon {
  opacity: 0.7; }

.assortment-item__link--icon-image:active .assortment-item__link--icon {
  opacity: 0.3; }

@media (min-width: 768px) {
  .assortment-item__link--text {
    min-width: 240px;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0 36px;
    padding-top: 27px;
    padding-bottom: 33px; }
  .assortment-item__link--icon {
    margin: auto;
    margin-right: 35px; }
  .assortment-item__link--icon-interior {
    margin-right: 27px; }
  .assortment-item:hover, .assortment-item:focus {
    -webkit-transform: none;
            transform: none;
    padding-bottom: 0; } }

.product-of-the-week {
  margin-bottom: 29px; }

.product-of-the-week--wrapper {
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto; }

.product-of-the-week__title-product {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 3px; }

.product-of-the-week__title {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  color: #62d0ba;
  text-transform: uppercase;
  margin-bottom: 25px; }

.product-of-the-week__description {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 16px;
  color: #454545; }

.product-of-the-week__list {
  font-size: 15px;
  line-height: 40px;
  margin-bottom: 28px;
  color: #454545; }

.product-of-the-week__value {
  border-bottom: 1px solid #ededed;
  padding: 0; }

.product-of-the-week__field {
  padding-left: 17px;
  border-bottom: 1px solid #ededed; }

.product-of-the-week__picture {
  width: 260px;
  height: 315px;
  margin: 0;
  margin-bottom: 23px; }

.product-of-the-week__cost {
  font-weight: 700;
  color: #454545;
  margin: auto;
  margin-bottom: 25px;
  letter-spacing: 0.2px; }

@media (min-width: 768px) {
  .product-of-the-week {
    margin-bottom: 50px; }
  .product-of-the-week--wrapper {
    max-width: 768px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0; }
  .product-of-the-week__title-product {
    font-size: 43px;
    line-height: 50px;
    margin: auto;
    margin-bottom: 49px;
    margin-left: 47px; }
  .product-of-the-week__title {
    max-width: 80px;
    line-height: 17px;
    margin: 0 auto;
    margin-right: 73px;
    padding-top: 10px;
    text-align: center; }
  .product-of-the-week__description {
    max-width: 300px;
    margin-left: 49px;
    margin-right: 49px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 37px; }
  .product-of-the-week__list {
    margin-left: 50px;
    margin-right: 43px;
    width: 291px;
    line-height: 20px;
    margin-bottom: 59px; }
  .product-of-the-week__row {
    height: 39px; }
  .product-of-the-week__field {
    padding-left: 0; }
  .product-of-the-week__picture {
    width: 333px;
    height: 404px;
    margin: 0;
    margin-top: -120px; }
  .product-of-the-week__cost {
    font-size: 20px;
    margin: 0;
    margin-top: -109px;
    margin-left: 120px; }
  .product-of-the-week__order {
    z-index: 1;
    margin-left: -220px;
    margin-top: -50px;
    padding: 14px 100px;
    width: 292px; } }

@media (min-width: 1150px) {
  .product-of-the-week {
    margin-bottom: 60px;
    margin-left: 50px;
    margin-right: 50px; }
  .product-of-the-week--wrapper {
    position: relative;
    max-width: 1150px; }
  .product-of-the-week__title-product {
    z-index: 2;
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 48px;
    margin-left: 0; }
  .product-of-the-week__title {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 41px;
    margin-right: 48px;
    padding-top: 14px; }
  .product-of-the-week__description {
    margin: 0 175px 50px; }
  .product-of-the-week__list {
    margin: 0 176px 109px; }
  .product-of-the-week__row {
    height: 40px; }
  .product-of-the-week__picture {
    position: absolute;
    width: 525px;
    height: 636px;
    margin: 0;
    margin-top: 0;
    right: 0;
    top: -52px; }
  .product-of-the-week__cost {
    margin: 0 400px 34px 247px; }
  .product-of-the-week__order {
    z-index: auto;
    margin: 0;
    margin-left: 175px; } }

.form-order {
  width: 320px;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 5px 10px 0 #bfc0c0;
          box-shadow: 0 5px 10px 0 #bfc0c0;
  padding-top: 36px;
  margin: 0 auto;
  margin-bottom: 30px; }

.form-order__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  margin: 0 26%;
  margin-bottom: 25px;
  text-transform: uppercase; }

.form-order__choice {
  min-width: 320px;
  font-size: 15px;
  line-height: 24px;
  border: none;
  color: #454545;
  text-align: center;
  padding: 0;
  margin: 0 auto; }

.form-order__add {
  line-height: 16px;
  background-color: #61d1bb;
  color: white;
  margin: auto;
  outline: none;
  margin-bottom: 45px; }
  .form-order__add:hover, .form-order__add:focus {
    background-color: #4dcbb2; }
  .form-order__add:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #34b299; }

@media (min-width: 437px) {
  .form-order {
    width: 73.2%;
    margin-left: 13.4%;
    margin-right: 13.4%;
    padding-top: 51px; }
  .form-order__title {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .form-order__add {
    width: 286.1px; } }

@media (min-width: 768px) {
  .form-order {
    width: 566px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 51px; }
  .form-order__title {
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 32px; }
  .form-order__choice {
    width: 100%; }
  .form-order__add {
    width: 350px; } }

.form-order-list {
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 31px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 350px; }

.form-order-list__item {
  list-style: none;
  width: 31.5%;
  margin-right: 7px; }
  .form-order-list__item:nth-child(3n) {
    margin-right: 9.8%; }
  .form-order-list__item:first-child, .form-order-list__item:nth-child(4n) {
    margin-left: 9.8%; }

.form-order-list__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #454545;
  border: 2px solid rgba(27, 27, 27, 0.1);
  cursor: pointer; }

.form-order-list__input:hover + label,
.form-order-list__input:focus + label {
  border: 2px solid rgba(27, 27, 27, 0.3); }

.form-order-list__input:active + label,
.form-order-list__input:checked + label {
  border: 2px solid #62d1ba; }

@media (min-width: 437px) {
  .form-order-list {
    width: 90%; }
  .form-order-list__item:nth-child(3n) {
    margin-right: auto; }
  .form-order-list__item:first-child, .form-order-list__item:nth-child(4n) {
    margin-left: auto; } }

@media (min-width: 768px) {
  .form-order-list {
    margin-top: 26px; }
  .form-order-list__item {
    width: 32.5%; } }

.advantages {
  width: 100%;
  margin-bottom: 27px; }

.advantages__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 28px; }

.advantages__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 31px; }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block; }

@media (min-width: 768px) {
  .advantages {
    margin-bottom: 106px; }
  .advantages__wrapper {
    max-width: 768px;
    padding: 0 5.9%; }
  .advantages__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
    letter-spacing: -0.2px; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (min-width: 1150px) {
  .advantages__wrapper {
    max-width: 1150px;
    padding-left: 221px;
    padding-right: 120px; }
  .advantages__title {
    letter-spacing: -0.4px;
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 49px; } }

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 251px; }

.advantage__description {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 2px;
  font-weight: 700;
  line-height: 20px; }

.advantage__icon::before {
  content: "";
  display: block;
  width: 55px;
  height: 37px;
  background-repeat: no-repeat;
  margin-bottom: 16px; }

.advantage__icon--ecologically-friendly::before {
  background-image: url("../img/icon-feature-flower.svg");
  background-position: 40% 0; }

.advantage__icon--profitable::before {
  background-image: url("../img/icon-feature-money.svg");
  background-position: 20% 0; }

.advantage__icon--confession::before {
  background-image: url("../img/icon-feature-heart.svg");
  background-position: 40% 60%; }

.advantage__icon--care::before {
  background-image: url("../img/icon-feature-ball.svg");
  background-position: 25% 90%; }

.advantage__icon--patriotism::before {
  background-image: url("../img/icon-feature-rocket.svg");
  background-position: 0% 30%; }

.advantage__icon--packaging::before {
  background-image: url("../img/icon-feature-gift.svg");
  background-position: 20% 60%; }

@media (min-width: 768px) {
  .advantage {
    max-width: 295px; }
    .advantage:nth-child(2) {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .advantage:nth-child(3) {
      -webkit-box-ordinal-group: 6;
          -ms-flex-order: 5;
              order: 5; }
    .advantage:nth-child(4) {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      margin-left: 5.8%; }
    .advantage:nth-child(5) {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4;
      margin-left: 5.8%; }
    .advantage:nth-child(6) {
      -webkit-box-ordinal-group: 7;
          -ms-flex-order: 6;
              order: 6;
      margin-left: 5.8%; }
  .advantage__description {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 57px; }
  .advantage__icon {
    margin-left: 3px; }
    .advantage__icon::before {
      margin-bottom: 17px; } }

@media (min-width: 1150px) {
  .advantage:nth-child(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 6.6%; }
  .advantage:nth-child(5) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-left: 6.6%; }
  .advantage:nth-child(6) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    margin-left: 6.6%; } }

.reviews {
  width: 100%;
  margin-bottom: 36px; }

.reviews__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 28px;
  padding-bottom: 9px; }

.reviews__title {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 24px; }

.reviews__item {
  margin: 0 1px 31px; }

.reviews__text {
  margin: 0;
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 30px;
  color: #454545; }

.reviews__author-name {
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.2px; }

.reviews__author-email {
  line-height: 30px;
  font-style: normal;
  color: #454545; }

.reviews__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  padding: 0;
  margin: auto;
  margin-bottom: 38px; }

.reviews__btn {
  -ms-flex-preferred-size: 130px;
      flex-basis: 130px;
  padding: 0;
  background-color: transparent;
  border: 1px solid #ededed;
  outline: none;
  cursor: pointer;
  background-position: 50% 45%;
  background-repeat: no-repeat; }
  .reviews__btn:hover, .reviews__btn:focus {
    opacity: 0.6; }
  .reviews__btn:active {
    opacity: 0.3; }

.reviews__btn--prev {
  background-image: url(../img/icon-left-arrow.svg); }

.reviews__btn--next {
  background-image: url(../img/icon-right-arrow.svg); }

@media (min-width: 768px) {
  .reviews {
    margin-bottom: 63px; }
  .reviews__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1150px;
    position: relative;
    padding: 0 45px;
    padding-bottom: 63px; }
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin-bottom: 45px; }
  .reviews__write {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 45px;
    margin-right: 5px;
    margin-left: auto;
    width: 175px;
    max-height: 52px; }
  .reviews__picture {
    position: absolute;
    display: block;
    width: 350px;
    height: 456px;
    background-image: url("../img/review@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    margin-top: -78px;
    margin-left: -45px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .reviews__picture {
      background-image: url("../img/review@2x.jpg"); } }

@media (min-width: 768px) {
  .reviews__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    margin-left: 4px; }
  .reviews__text {
    margin-bottom: 62px;
    font-size: 17px; }
  .reviews__author-name {
    font-size: 18px; }
  .reviews__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .reviews__button {
    -ms-flex-preferred-size: 174px;
        flex-basis: 174px;
    margin-left: auto;
    margin-right: 0.8%;
    margin-bottom: 0;
    margin-top: -52px; }
  .reviews__btn {
    -ms-flex-preferred-size: 87px;
        flex-basis: 87px;
    border: none; } }

@media (min-width: 1150px) {
  .reviews {
    width: auto;
    margin-bottom: 142px;
    margin-left: 50px;
    margin-right: 50px; }
  .reviews__wrapper {
    padding: 0;
    padding-left: 171px;
    padding-bottom: 90px; }
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 45px; }
  .reviews__write {
    margin-right: 0;
    margin-top: 8px;
    margin-bottom: 45px; }
  .reviews__picture {
    margin-top: -71px;
    margin-left: -171px; }
  .reviews__text {
    margin-bottom: 42px;
    margin-right: 9.5%; }
  .reviews__author-name {
    font-size: 17px; }
  .reviews__button {
    margin-right: 0; } }

.zigzag-line::after {
  content: "";
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: auto 6px;
  background-repeat: repeat-x;
  display: block;
  height: 6px;
  margin-top: 36px; }

@media (min-width: 768px) {
  .zigzag-line::after {
    background-size: auto 15px;
    height: 15px;
    margin-top: 53px; } }

@media (min-width: 1150px) {
  .zigzag-line::after {
    background-size: auto 23px;
    height: 23px;
    margin-top: 73px; } }

.contacts {
  max-width: 320px; }

.contacts__page {
  margin-left: 28px; }

.contacts__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px; }

.contacts__text {
  font-size: 15px;
  line-height: 30px;
  color: #454545;
  margin: 0;
  margin-bottom: 42px; }

.contacts__text--title {
  margin: 0; }

.contacts__text--info {
  margin: 0;
  margin-left: 32px;
  width: 178px; }

.contacts__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 31px; }

.contacts__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 38px; }

.contacts__contact-email {
  padding-bottom: 5px;
  color: #454545;
  border-bottom: 1px solid #47c2af; }
  .contacts__contact-email:hover, .contacts__contact-email:focus {
    color: #47c2af;
    border-bottom: 1px solid #6ecfc0; }
  .contacts__contact-email:active {
    color: #c6ebe6;
    border-bottom: 1px solid #c6ebe6; }

.contacts__write {
  margin-left: 30px;
  letter-spacing: 0.7px; }

@media (min-width: 768px) {
  .contacts {
    max-width: 1150px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .contacts__page {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; }
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0 auto 33px 5.9%;
    -ms-flex-preferred-size: 87.2%;
        flex-basis: 87.2%; }
  .contacts__title--image::after {
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 47px;
    height: 81px;
    margin-left: auto;
    margin-top: -15px;
    background-image: url("../img/icon-flag.svg");
    background-repeat: no-repeat; }
  .contacts__text {
    font-size: 17px;
    line-height: 30px; }
  .contacts__text--info {
    margin-left: 24px;
    width: auto; }
  .contacts__email {
    margin-left: auto;
    margin-right: 3.3%;
    margin-bottom: 57px;
    min-width: 280px; }
  .contacts__contact-email {
    padding-bottom: 3px; }
  .contacts__adress {
    min-width: 334px;
    margin-left: 3.3%;
    margin-right: auto;
    margin-bottom: 57px; }
  .contacts__write {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: normal; } }

@media (min-width: 1150px) {
  .contacts {
    max-width: 1150px; }
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 33px;
    margin-left: 108px; }
  .contacts__title--image::after {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 5px;
    margin-right: 58px;
    margin-top: -9px; }
  .contacts__email {
    margin-left: 19.5%;
    margin-right: 51%;
    margin-bottom: 31px;
    min-width: 340px; }
  .contacts__adress {
    min-width: 340px;
    margin-right: 51%;
    margin-left: 19.5%;
    margin-bottom: 80px; }
  .contacts__write {
    margin-left: 19.5%;
    margin-right: auto;
    margin-bottom: auto; } }

.modal {
  margin-bottom: 33px; }

@media (min-width: 768px) {
  .modal {
    width: 100%;
    margin-bottom: 49px; }
  .modal--map {
    width: 100%; } }

@media (min-width: 1150px) {
  .modal {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 525px;
    margin-bottom: 0;
    margin-right: 51px;
    margin-left: auto;
    margin-top: -35.2%; }
  .modal--map {
    width: 525px; } }

.page-footer {
  background-color: #f2f2f2;
  min-width: 320px; }

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 30px; }

.page-footer__logo {
  display: none; }

.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ededed; }

.page-footer__copyright {
  margin-top: 19px;
  margin-bottom: 21px; }

@media (min-width: 768px) {
  .page-footer__wrapper {
    max-width: 1150px;
    padding: 0 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .page-footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 34px;
    width: 185px;
    margin-top: 51px;
    margin-bottom: 58px; }
  .page-footer__social {
    border-bottom: none; }
  .page-footer__copyright {
    margin-top: auto;
    margin-bottom: auto; } }

.social {
  width: 100%; }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 21px;
  padding: 0; }

.social__item {
  margin: auto;
  margin-right: 40px;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .social__item:last-child {
    margin-right: 0; }

.social__link--facebook {
  display: block;
  padding-left: 1px;
  margin-top: -1px; }

@media (min-width: 768px) {
  .social {
    width: 44.4%;
    margin: auto; }
  .social__list {
    margin-top: 29px; } }

.copyright__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .copyright__link svg {
    fill: #63d1bb; }
  .copyright__link:active {
    color: #b3b3b3; }

.copyright__text {
  font-size: 19px;
  line-height: 34px;
  margin-left: 37px; }

.copyright__link--icon {
  margin: auto;
  width: 27px;
  height: 34px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-left: 29px;
  margin-top: 3px; }

@media (min-width: 768px) {
  .copyright__text {
    line-height: 18px;
    margin: auto;
    margin-left: 0; } }

.page-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 176px;
  background-color: #f2f2f2; }

.page-start__wrapper {
  padding: 0 30px; }

.page-start__title {
  font-size: 27px;
  line-height: 30px;
  margin: auto;
  margin-top: 71px; }

@media (min-width: 768px) {
  .page-start {
    min-height: 225px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .page-start__wrapper {
    margin-top: -70px;
    padding: 0; }
    .page-start__wrapper::after {
      content: "";
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: 100% 100%;
      background-size: contain;
      background-repeat: repeat-x;
      margin-top: 15px; }
  .page-start__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 94px;
    margin-bottom: 52px; } }

@media (min-width: 1150px) {
  .page-start__wrapper {
    margin-top: -60px; }
    .page-start__wrapper::after {
      height: 34px;
      background-size: 1150px;
      margin-top: 13px; }
  .page-start__title {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 72px; } }

.catalog-main {
  min-width: 320px; }

.catalog {
  margin: 0 30px;
  margin-top: 30px; }

@media (min-width: 768px) {
  .catalog {
    margin: 0 52px;
    margin-top: 69px; } }

@media (min-width: 1150px) {
  .catalog {
    margin: 0;
    margin-bottom: 57px;
    margin-top: 112px; } }

.objects {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.objects__item {
  margin: 0 auto;
  margin-bottom: 30px; }

.objects__picture {
  margin: 0;
  width: 260px;
  height: 195px; }

.objects__container {
  padding: 0 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ededed; }

.objects__title {
  font-weight: 700;
  margin-top: 26px;
  margin-bottom: 6px; }

.objects__description {
  margin: 0;
  margin-bottom: 19px;
  font-size: 13px;
  line-height: 30px;
  color: #454545; }

.objects__wrapper {
  border-top: 1px solid #ededed;
  padding-top: 21px;
  position: relative;
  margin-bottom: 26px; }

.objects__cost {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700; }

.objects__shopping-cart {
  position: absolute;
  right: 0; }

@media (min-width: 768px) {
  .objects {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .objects__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 54px; }
  .objects__picture {
    width: 334px;
    height: 334px; }
  .objects__container {
    min-width: 334px;
    padding: 0 24px; }
  .objects__title {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 6px; }
  .objects__description {
    font-size: 15px;
    margin-bottom: auto; }
  .objects__wrapper {
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 26px; }
  .objects__cost {
    font-size: 17px; } }

@media (min-width: 1150px) {
  .objects {
    max-width: 1150px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .objects__container {
    min-width: 316px;
    min-height: 197px;
    padding: 0 25px; }
  .objects__picture {
    width: 316px;
    height: 462px; }
  .objects__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0; }
    .objects__item:first-child {
      margin-left: 49px; }
    .objects__item:last-child {
      margin-right: 49px; }
  .objects__title {
    margin-top: 24px; }
  .objects__wrapper {
    margin-left: 0;
    margin-right: 7px;
    margin-bottom: 26px; } }

.production {
  margin: auto;
  margin-bottom: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 260px;
  border: 1px solid #ededed; }
  .production:hover, .production:focus {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }
  .production:active {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }

.production__title {
  font-size: 17px;
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  padding-left: 89px;
  padding-top: 23px;
  padding-right: 10px; }

.production__title--image::before {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  left: 32px;
  top: 29px;
  background-image: url("../img/icon-video.svg");
  background-position: 0 0;
  background-repeat: no-repeat; }

.production__wrapper {
  position: relative;
  margin-bottom: 28px; }

.production__picture {
  margin: 0; }

.production__video {
  display: block;
  width: 260px;
  height: 100%; }

.production__video-btn {
  position: absolute;
  width: 101px;
  height: 77px;
  padding: 0;
  left: 78px;
  top: 37px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer; }

.production__video-btn--interaction:hover, .production__video-btn--interaction:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s; }

.production__video-btn--interaction:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 30%; }

.production__description {
  color: #454545;
  font-size: 13px;
  padding: 0;
  margin: 0 33px;
  margin-bottom: 25px; }

.production__order {
  width: 192px;
  margin-left: 34px;
  margin-bottom: 32px; }

@media (min-width: 768px) {
  .production__wrapper {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .production {
    max-width: 668px;
    margin-bottom: 63px; }
  .production__video {
    width: 667px; }
  .production__video-btn {
    width: 102px;
    height: 78px;
    left: 283px;
    top: 186px; }
  .production__title {
    font-size: 20px;
    margin-bottom: 34px;
    padding-left: 105px;
    padding-top: 9px;
    padding-right: 50px; }
  .production__title--image::before {
    left: 41px;
    top: 5px; }
  .production__description {
    font-size: 15px;
    line-height: 30px;
    margin: 0 40px;
    margin-bottom: 34px; }
  .production__order {
    width: 584px;
    margin: 0 auto;
    margin-bottom: 46px; } }

@media (min-width: 1150px) {
  .production {
    max-width: 1049px;
    margin-bottom: 102px; }
  .production__wrapper {
    margin-bottom: 0; }
  .production__video {
    width: 682px; }
  .production__video-btn {
    left: 289px;
    top: 188px; }
  .production__title {
    max-width: 365px;
    min-height: 144px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 0;
    padding-left: 77px;
    padding-top: 95px; }
  .production__title--image::before {
    left: 78px;
    top: 41px; }
  .production__description {
    max-width: 365px;
    padding-left: 77px;
    padding-right: 50px;
    margin-left: 65%;
    margin-right: 0;
    margin-top: -279px;
    margin-bottom: auto;
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .production__order {
    width: 230px;
    margin-right: 57px;
    margin-bottom: auto;
    margin-top: -114px; } }

.order-main {
  min-width: 320px; }

.order {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 55px; }

.order__text {
  width: 81%;
  color: #454545;
  font-size: 13px;
  margin: 0 auto;
  margin-bottom: 23px; }

.order__form {
  margin: 0 auto; }

.order__form--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 260px;
  margin: 0 auto; }

.order__form--legend {
  color: #454545;
  font-size: 14px;
  line-height: 16px; }

.order__form--button {
  margin-top: 31px;
  background-color: white;
  outline: none; }

@media (min-width: 768px) {
  .order {
    margin: 0 auto;
    margin-top: 62px;
    margin-bottom: 55px; }
  .order__text {
    font-size: 17px;
    line-height: 30px;
    width: 88.7%;
    padding-left: 6px;
    padding-right: 50px;
    margin-bottom: 73px; }
  .order__form--wrapper {
    width: 87%; }
  .order__form--legend {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    font-size: 17px;
    line-height: 30px;
    padding-top: 8px;
    margin: 0 auto;
    margin-right: 0; }
  .order__form--button {
    width: 230px;
    margin: 0 auto;
    margin-left: 0;
    padding-top: 11px; } }

@media (min-width: 1150px) {
  .order {
    margin-top: 104px;
    margin-bottom: 50px; }
  .order__form--wrapper {
    width: 825px; }
  .order__text {
    width: 780px;
    padding-left: 40px;
    padding-right: 35px; }
  .order__form--legend {
    padding-top: 10px;
    margin-right: 61px; }
  .order__form--button {
    margin-left: 62px; } }

.form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media (min-width: 768px) {
  .form-main {
    width: 100%; } }

.form-element {
  width: 90.4%;
  list-style: none;
  padding: 0;
  margin: 0 9.4%;
  margin-bottom: 10px; }

.form-element__title {
  color: #62d0ba;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0; }
  .form-element__title::after {
    content: "";
    background-color: #62d0ba;
    width: 76%;
    height: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    margin-top: 8px;
    margin-right: 0; }

.form-element__content {
  padding: 0;
  margin: 0; }

@media (min-width: 768px) {
  .form-element {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 48px; }
  .form-element__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .form-element__title {
    margin-top: 2px;
    margin-left: 6.6%;
    width: 166px; }
    .form-element__title::after {
      display: none; }
  .form-element__content {
    margin: auto;
    margin-left: 0; }
  .form-element__item--gray {
    background-color: #f2f2f2; } }

@media (min-width: 1150px) {
  .form-element {
    margin-bottom: 43px; }
  .form-element__title {
    margin-left: auto;
    width: 115px; }
  .form-element__content {
    width: 825px;
    margin: 0;
    margin-right: auto; } }

.form-radio {
  margin-bottom: 21px; }

.form-radio__title {
  margin-bottom: 35px; }

@media (min-width: 768px) {
  .form-radio {
    margin-bottom: 10px; } }

@media (min-width: 1150px) {
  .form-radio {
    margin-bottom: 9px; }
  .form-radio__title {
    padding-left: 9px; } }

.type {
  border: none; }

.type__list {
  list-style: none;
  padding: 0; }

.type__item {
  font-weight: 700;
  line-height: 18px;
  padding-left: 62px;
  margin-bottom: 9%; }

.type__item--interior + label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.type__item--interior:hover + label,
.type__item--interior:focus + label {
  color: #666666; }

.type__item--interior:active + label {
  color: #b3b3b3; }

.type__item--radio + label::before {
  content: "";
  position: absolute;
  left: -62px;
  top: -9px;
  width: 40px;
  height: 40px;
  border: 2px solid #454545;
  border-radius: 50%; }

.type__item--radio:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -49px;
  width: 7px;
  height: 7px;
  border: 7px solid #61d1bb;
  border-radius: 50%; }

.type__item--radio:hover + label::before,
.type__item--radio:focus + label::before {
  border: 2px solid #61d1bb; }

.type__item--radio:active + label::before {
  border: 2px solid #c7c7c7; }

@media (min-width: 768px) {
  .type__item {
    margin-bottom: 59px;
    font-size: 19px;
    padding-left: 81px; }
  .type__item--radio + label::before {
    left: -81px;
    top: -15px;
    width: 52px;
    height: 52px; }
  .type__item--radio:checked + label::after {
    top: 1px;
    left: -64px;
    border: 10px solid #61d1bb; } }

@media (min-width: 1150px) {
  .type__item {
    padding-left: 85px; } }

.form-checkbox__title {
  margin-bottom: 37px; }

@media (min-width: 768px) {
  .form-checkbox {
    margin-bottom: 50px; }
  .form-checkbox__title {
    margin-top: 67px;
    margin-bottom: 11px; } }

@media (min-width: 1150px) {
  .form-checkbox__title {
    padding-left: 5px;
    margin-bottom: 11px; } }

.color {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1px; }

.color__list {
  list-style: none;
  padding: 0; }

.color__item {
  font-weight: 700;
  line-height: 18px;
  padding-left: 62px;
  margin-bottom: 43px; }
  .color__item:last-child {
    padding-bottom: 0; }

.color__item--checkbox + label::before {
  content: "";
  position: absolute;
  left: -62px;
  top: -10px;
  width: 40px;
  height: 39px;
  border: 2px solid #454545; }

.color__item--checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -53px;
  width: 22px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-position: -3px -7px;
  background-repeat: no-repeat; }

.color__item--checkbox:hover + label::before,
.color__item--checkbox:focus + label::before {
  border: 2px solid #61d1bb; }

.color__item--checkbox:active + label::before {
  border: 2px solid #c7c7c7; }

.color__item--color + label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.color__item--color:hover + label,
.color__item--color:focus + label {
  color: #666666; }

.color__item--color:active + label {
  color: #b3b3b3; }

@media (min-width: 768px) {
  .color {
    max-width: 500px;
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-top: 65px;
    margin-bottom: 11px; }
  .color__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .color__item {
    width: 250px;
    font-size: 19px;
    padding-left: 81px;
    margin-bottom: 58px; }
    .color__item:nth-child(2n) {
      padding-left: 92px; }
  .color__item--checkbox + label::before {
    left: -80px;
    top: -15px;
    width: 54px;
    height: 52px; }
  .color__item--checkbox:checked + label::after {
    top: -1px;
    left: -67px;
    width: 33px;
    height: 30px;
    background-position: -2px 1px; } }

@media (min-width: 1150px) {
  .color {
    max-width: 825px; }
  .color__item {
    width: 275px;
    padding-left: 85px;
    margin-bottom: 58px; }
    .color__item:nth-child(2n) {
      padding-left: 85px; }
    .color__item:nth-child(3n-1) {
      padding-left: 72px; }
    .color__item:nth-child(3n) {
      padding-left: 62px; } }

.user-information {
  margin-bottom: 32px; }

.user-information__title {
  margin-bottom: 26px; }

.user-information__list {
  list-style: none;
  padding: 0; }

@media (min-width: 768px) {
  .user-information {
    margin-bottom: 27px; }
  .user-information__title {
    margin-top: 18px; }
  .user-information__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (min-width: 1150px) {
  .user-information__title {
    padding-left: 6px; } }

.name {
  margin-bottom: 20px; }

.name__label {
  display: block;
  font-weight: 700; }

.name__input {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  min-height: 48px;
  border-bottom: 2px solid black;
  -webkit-box-shadow: inset 0 -2px 0 0;
          box-shadow: inset 0 -2px 0 0;
  color: #454545;
  font-size: 17px;
  line-height: 18px; }

@media (min-width: 768px) {
  .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 92%;
    margin-bottom: 24px;
    padding-left: 84px; }
  .name__label {
    font-size: 19px;
    line-height: 18px;
    padding-top: 16px;
    margin-right: 25px; }
  .name__input {
    min-height: 52px;
    padding-left: 17px;
    font-size: 19px; } }

@media (min-width: 1150px) {
  .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 705px;
    margin-bottom: 24px;
    padding-left: 6px; } }

.user-phone {
  margin-bottom: 32px; }

.user-phone__title {
  margin-bottom: 9px; }

.user-phone__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.user-phone__input {
  display: block;
  width: 100%;
  min-height: 50px;
  font-size: 19px;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  -webkit-box-shadow: inset 0 -2px 0 0;
          box-shadow: inset 0 -2px 0 0;
  color: #454545; }
  .user-phone__input:focus + .user-phone--image svg, .user-phone__input:hover + .user-phone--image svg, .user-phone__input:active + .user-phone--image svg {
    fill: #61d1bb; }

.user-phone--image {
  display: block;
  width: 25px;
  height: 24px;
  position: absolute;
  right: 8px;
  bottom: 17px; }
  .user-phone--image svg {
    fill: #adadad; }

@media (min-width: 768px) {
  .user-phone {
    margin-bottom: 0; }
  .user-phone__title {
    margin-top: 67px; }
  .user-phone__content {
    width: 100%;
    margin-top: 51px;
    padding-left: 40px; }
  .user-phone__input {
    width: 91%;
    background-color: #f2f2f2;
    padding-left: 17px; }
  .user-phone--image {
    right: 13%; } }

@media (min-width: 1150px) {
  .user-phone__title {
    padding-left: 7px; }
  .user-phone__content {
    width: 825px;
    padding-left: 4px;
    margin-right: auto; }
  .user-phone__input {
    width: 85.4%; }
  .user-phone--image {
    right: 128px; } }

.user-email {
  margin-bottom: 33px; }

.user-email__title {
  margin-bottom: 8px; }

.user-email__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.user-email__input {
  display: block;
  width: 100%;
  min-height: 50px;
  font-size: 17px;
  line-height: 18px;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  -webkit-box-shadow: inset 0 -2px 0 0;
          box-shadow: inset 0 -2px 0 0;
  color: #454545; }
  .user-email__input:focus + .user-email--image svg, .user-email__input:hover + .user-email--image svg, .user-email__input:active + .user-email--image svg {
    fill: #61d1bb; }

.user-email--image {
  display: block;
  width: 32px;
  height: 21px;
  position: absolute;
  right: 4px;
  bottom: 18px; }
  .user-email--image svg {
    fill: #adadad; }

@media (min-width: 768px) {
  .user-email {
    margin-bottom: 50px; }
  .user-email__title {
    margin-top: 26px;
    margin-bottom: 51px;
    padding-top: 16px;
    padding-left: 1px; }
  .user-email__content {
    width: 100%;
    margin-top: 26px;
    margin-bottom: 51px;
    padding-left: 40px; }
  .user-email__input {
    width: 91%;
    font-size: 19px;
    background-color: #f2f2f2;
    padding-left: 17px; }
  .user-email--image {
    right: 12.2%;
    bottom: 19px; } }

@media (min-width: 1150px) {
  .user-email__title {
    padding-top: 17px;
    padding-left: 6px; }
  .user-email__content {
    width: 825px;
    padding-left: 4px;
    margin-right: auto; }
  .user-email__input {
    width: 85.4%; }
  .user-email--image {
    right: 124px; } }

.user-additionally__title {
  margin-bottom: 25px; }

.user-additionally__input {
  width: 100%;
  min-height: 143px;
  font-size: 17px;
  line-height: 19px;
  padding: 14px;
  outline: none;
  border: 2px solid #454545;
  color: #454545; }

@media (min-width: 768px) {
  .user-additionally__title {
    padding-top: 15px;
    margin-bottom: 0; }
  .user-additionally__content {
    width: 100%;
    padding-left: 40px; }
  .user-additionally__input {
    width: 91%;
    min-height: 142px;
    font-size: 19px;
    line-height: 18px;
    padding: 13px 14px; } }

@media (min-width: 1150px) {
  .user-additionally__title {
    padding-left: 7px; }
  .user-additionally__content {
    width: 825px;
    padding-left: 4px;
    margin-right: auto; }
  .user-additionally__input {
    width: 85.4%; } }

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.auxiliary-list {
  display: none;
  padding: 0;
  margin: 0;
  list-style: none; }

.auxiliary-list__item {
  font-weight: 700;
  font-size: 15px;
  padding: 25px 0; }

.auxiliary-list__item--delivery {
  font-weight: 400;
  color: #454545; }

@media (min-width: 768px) {
  .auxiliary-list {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 auto; }
  .auxiliary-list__item {
    display: none; }
  .auxiliary-list__item--delivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    margin-top: -84px;
    margin-right: 50px;
    z-index: 2; } }

@media (min-width: 1150px) {
  .auxiliary-list {
    max-width: 1150px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .auxiliary-list__item {
    padding: 17px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    letter-spacing: 0.1px; }
  .auxiliary-list__item--new {
    margin-left: 50px;
    margin-right: 27px; }
  .auxiliary-list__item--sale {
    margin-left: 33px; }
  .auxiliary-list__item--delivery {
    padding-top: 17px;
    margin-top: 0;
    margin-right: 49px;
    margin-left: auto; } }

/*# sourceMappingURL=style.css.map */
