.advantages {
  margin-bottom: 61px;
  width: 320px;
  padding-left: 30px;
}

.advantages__title {
  margin-bottom: 31px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
