.advantage {
  display: flex;
  flex-wrap: wrap;
  max-width: 251px;
  align-self: flex-start;

  &::before {
    content: "";
    display: block;
    width: 55px;
    height: 37px;
    background-repeat: no-repeat;
    margin-bottom: 17px;
  }
}

.advantage__description {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 2px;
  font-weight: 700;
  line-height: 20px;
}

.advantage__description--ecologically-friendly,
.advantage__description--confession {
  padding-right: 65px;
}

.advantage__description--profitable {
  padding-right: 50px;
}

.advantage--icon-ecologically-friendly {
  &::before {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: 40% 0;
  }
}

.advantage--icon-profitable {
  &::before {
    background-image: url("../img/icon-feature-money.svg");
    background-position: 20% 0;
  }
}

.advantage--icon-confession {
  &::before {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 40% 60%;
  }
}

.advantage--icon-care {
  &::before {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: 25% 90%;
  }
}

.advantage--icon-patriotism {
  &::before {
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: 0% 30%;
  }
}

.advantage--icon-packaging {
  &::before {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: 24% 34%;
  }
}

@media (min-width: $tablet-width) {
  .advantage {
    max-width: 295px;
    margin-left: 3px;

    &:nth-child(1) {
      order: -6;
    }

    &:nth-child(2) {
      order: -4;
    }

    &:nth-child(3) {
      order: -2;
    }

    &:nth-child(4) {
      order: -5;
      margin-left: 5.8%;
    }

    &:nth-child(5) {
      order: -3;
      margin-left: 5.8%;
    }

    &:nth-child(6) {
      order: -1;
      margin-left: 5.8%;
    }

    &:nth-child(2n+6) {
      margin-left: 5.8%;
    }

    &::before {
      margin-bottom: 17px;
    }
  }

  .advantage__description {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    &:nth-child(4) {
      margin-left: 6.6%;
    }

    &:nth-child(5) {
      margin-left: 6.6%;
    }

    &:nth-child(6) {
      margin-left: 6.6%;
    }

    &:nth-child(2n+6) {
      margin-left: 6.6%;
    }
  }
}
