.assortment-item {
  font-weight: 700;

  &:hover,
  &:focus {
    transform: scaleY(5px);
    transition-duration: 0.3s;
    padding-bottom: 5px;
    outline: none;
  }
}

.assortment-item--interior {
  background-color: hsl(168, 54%, 60%);

  &:hover,
  &:focus {
    background-color: hsl(168, 60%, 59%);
  }

  &:active {
    background-color: hsl(168, 60%, 59%);
    color: rgba(255, 255, 255, 0.3);
  }
}

.assortment-item--toys {
  background-color: hsl(171, 48%, 55%);

  &:hover,
  &:focus {
    background-color: hsl(171, 50%, 52%);
  }

  &:active {
    background-color: hsl(171, 50%, 52%);
    color: rgba(255, 255, 255, 0.3);
  }
}

.assortment-item__link {
  display: flex;
  color: hsl(0, 0, 100%);
}

.assortment-item__link--text {
  font-size: 19px;
  margin: 0;
  padding-top: 26px;
  padding-bottom: 29px;
  padding-left: 29px;
  width: 160px;
  letter-spacing: normal;
}

.assortment-item__link--icon {
  padding: 0;
  margin: auto;
  margin-right: 27px;
  width: 60px;
  height: 63px;
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.assortment-item__link--icon-interior {
  margin-top: 23px;
  background-image: url("../img/icon-interior.svg");
}

.assortment-item__link--icon-toy {
  background-image: url("../img/icon-toy.svg");
}

.assortment-item__link--icon-image {
  &:hover .assortment-item__link--icon,
  &:focus .assortment-item__link--icon {
    opacity: 0.7;
  }

  &:active .assortment-item__link--icon {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .assortment-item__link--text {
    min-width: 240px;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0 36px;
    padding-top: 27px;
    padding-bottom: 33px;
  }

  .assortment-item__link--icon {
    margin: auto;
    margin-right: 35px;
  }

  .assortment-item__link--icon-interior {
    margin-right: 27px;
  }

  .assortment-item {
    &:hover,
    &:focus {
      transform: none;
      padding-bottom: 0;
    }
  }
}
