.description {
  margin: 0;
  text-align: center;
  width: 320px;
}

.description__text {
  font-size: 27px;
  padding: 76px 39px 110px;
}

.description--image {
  background-image: url(../img/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: -100px 0;
  background-size: 520px;
}
