.form-order-list {
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 31px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  max-width: 350px;
}

.form-order-list__item {
  list-style: none;
  width: 31.5%;
  margin-right: 7px;

  &:nth-child(3n) {
    margin-right: 9.8%;
  }

  &:first-child,
  &:nth-child(4n) {
    margin-left: 9.8%;
  }
}

// .form-order-list__item--active {}

.form-order-list__label {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: hsl(0, 0, 27%);
  border: 2px solid rgba(27, 27, 27, 0.1);
  cursor: pointer;
}

.form-order-list__input {
  &:hover + label,
  &:focus + label {
    border: 2px solid rgba(27, 27, 27, 0.3);
  }

  &:active + label,
  &:checked + label {
    border: 2px solid rgba(98, 209, 186, 1);
  }
}

// .form-order-list__input--active {}

@media (min-width: 437px) {
  .form-order-list {
    width: 90%;
  }

  .form-order-list__item {
    &:nth-child(3n) {
      margin-right: auto;
    }

    &:first-child,
    &:nth-child(4n) {
      margin-left: auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .form-order-list {
    margin-top: 26px;
  }

  .form-order-list__item {
    width: 32.5%;
  }
}
