.form-checkbox__title {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .form-checkbox {
    margin-bottom: 50px;
  }

  .form-checkbox__title {
    margin-top: 67px;
    margin-bottom: 11px;
  }
}

@media (min-width: $desktop-width) {
  .form-checkbox__title {
    padding-left: 5px;
    margin-bottom: 11px;
  }
}
