.form-element {
  width: 90.4%;
  list-style: none;
  padding: 0;
  margin: 0 9.4%;
  margin-bottom: 10px;
}

.form-element__title {
  color: hsl(168, 54%, 60%);
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  margin: 0;

  &::after {
    content: "";
    background-color: hsl(168, 54%, 60%);
    width: 76%;
    height: 1px;
    display: flex;
    margin: auto;
    margin-top: 8px;
    margin-right: 0;
  }
}

.form-element__content {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .form-element {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 47px;
  }

  .form-element__item {
    display: flex;
  }

  .form-element__title {
    margin-top: 2px;
    margin-left: 6.6%;
    width: 166px;

    &::after {
      display: none;
    }
  }

  .form-element__content {
    margin: auto;
    margin-left: 0;
  }

  .form-element__item--gray {
    background-color: hsl(0, 0, 95%);
  }
}

@media (min-width: $desktop-width) {
  .form-element {
    margin-bottom: 43px;
  }

  .form-element__title {
    margin-left: auto;
    width: 115px;
  }

  .form-element__content {
    width: 825px;
    margin: 0;
    margin-right: auto;
  }
}
