.form-radio {
  margin-bottom: 21px;
}

.form-radio__title {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .form-radio {
    margin-bottom: 12px;
  }
}

@media (min-width: $desktop-width) {
  .form-radio {
    margin-bottom: 11px;
  }

  .form-radio__title {
    padding-left: 9px;
  }
}
