.link-icon-interaction {
  &:hover path,
  &:hover polygon,
  &:hover rect,
  &:focus path,
  &:focus polygon,
  &:focus rect {
    fill: $greeny-blue;
    opacity: 1;
  }

  &:active path,
  &:active polygon,
  &:active rect {
    fill: $greeny-blue;
    opacity: 0.3;
  }
}
