.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  border: none;
  background-color: transparent;
  display: block;
  width: 21px;
  height: 21px;
  right: 30px;
  top: 30px;
}

.main-nav__wrapper {}

.main-nav__list {}
