.modal {
  margin-bottom: 36px;
}

.modal__map {
  height: 457px;
}

@media (min-width: $tablet-width) {
  .modal {
    width: 100%;
    margin-bottom: 53px;
  }

  .modal__map {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .modal {
    order: 2;
    width: 525px;
    margin-bottom: 0;
    margin-right: 51px;
    margin-left: auto;
    margin-top: -35.2%;
  }

  .modal__map {
    width: 525px;
  }
}
