.objects {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.objects__item {
  margin: 0 auto;
  margin-bottom: 30px;
}

.objects__picture {
  margin: 0;
  width: 260px;
  height: 195px;
}

// .objects__picture--image {}

.objects__container {
  padding: 0 27px;
  display: flex;
  flex-direction: column;
  border: 1px solid  hsl(0, 0, 93%);
}

.objects__title {
  font-weight: 700;
  margin-top: 26px;
  margin-bottom: 6px;
}

.objects__description {
  margin: 0;
  margin-bottom: 19px;
  font-size: 13px;
  line-height: 30px;
  color: hsl(0, 0%, 27%);
}

.objects__wrapper {
  border-top: 1px solid  hsl(0, 0, 93%);
  padding-top: 21px;
  position: relative;
  margin-bottom: 26px;
}

.objects__cost {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.objects__shopping-cart {
  position: absolute;
  right: 0;
}

// .objects__shopping-cart--image {}

@media (min-width: $tablet-width) {
  .objects {
    flex-direction: row;
  }

  .objects__item {
    display: flex;
    margin-bottom: 54px;
  }

  .objects__picture {
    width: 334px;
    height: 334px;
    // для размеров
    background-color: $greyish-brown;
  }

  .objects__container {
    min-width: 334px;
    padding: 0 24px;
  }

  .objects__title {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 6px;
  }

  .objects__description {
    font-size: 15px;
    margin-bottom: auto;
  }

  .objects__wrapper {
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 26px;
  }

  .objects__cost {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .objects {
    max-width: $desktop-width;
    margin: 0 auto;
    justify-content: space-between;
  }

  .objects__container {
    min-width: 316px;
    min-height: 197px;
    padding: 0 25px;
  }

  .objects__picture {
    width: 316px;
    height: 462px;
  }

  .objects__item {
    flex-direction: column;
    margin: 0;

    &:first-child {
      margin-left: 49px;
    }

    &:last-child {
      margin-right: 49px;
    }
  }

  .objects__title {
    margin-top: 24px;
  }

  .objects__wrapper {
    margin-left: 0;
    margin-right: 7px;
    margin-bottom: 26px;
  }
}
