.page-footer {
  background-color: hsl(0, 0%, 95%);
  min-width: 320px;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.page-footer__logo {
  display: none;
}

.page-footer__copyright {
  margin-top: 19px;
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    max-width: $desktop-width;
    padding: 0 50px;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: flex;
    height: 34px;
    width: 185px;
    margin-top: 51px;
    margin-bottom: 58px;
  }

  .page-footer__copyright {
    margin-top: auto;
    margin-bottom: auto;
  }
}
