.page-header {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
}

.page-header__logo {
  margin: auto;
  width: 86px;
  height: 35px;
}

.page-header__logo--image-link {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    margin: 0;
    width: 112px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    margin-left: 14%;
    width: 149px;
    height: 72px;
  }
}
