.page-main {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page-main {
    margin-top: -70px;
    margin-bottom: 58px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    margin-top: -60px;
    margin-bottom: 100px;
  }
}
