// .page-footer {}

.page-footer__wrapper {
  width: 320px;
  background-color: hsl(0, 0%, 95%);
  padding-right: 30px;
  padding-left: 30px;
}

// .page-footer__logo {}

// .page-footer__logo-image {}

.page-footer__social {
  display: flex;
  border-bottom: 1px solid hsl(0, 0, 93%);
}

.page-footer__copyright {
  padding-top: 22px;
  padding-bottom: 23px;
}
