.page-start {}

.page-start__wrapper {
  background-color: hsl(0, 0%, 95%);
  padding-top: 76px;
  padding-left: 42px;
  padding-bottom: 74px;
  margin-bottom: 30px;
}

.page-start__title {
  font-size: 27px;
  line-height: 30px;
  margin: 0;
}
