.product-of-the-week {
  margin-bottom: 29px;
}

.product-of-the-week__wrapper {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.product-of-the-week__title-product {
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 4px;
}

.product-of-the-week__title {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  color: hsl(168, 54%, 60%);
  text-transform: uppercase;
  margin-bottom: 23px;
}

.product-of-the-week__description {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 16px;
  color: $greyish-brown;
}

.product-of-the-week__list {
  font-size: 14px;
  line-height: 36px;
  margin-bottom: 26px;
  color: $greyish-brown;
}

.product-of-the-week__value {
  border-bottom: 1px solid hsl(0, 0, 93%);
  padding: 0;
}

.product-of-the-week__field {
  padding-left: 17px;
  border-bottom: 1px solid hsl(0, 0, 93%);
}

.product-of-the-week__picture {
  width: 260px;
  height: 315px;
  margin: 0;
  margin-bottom: 23px;
}

.product-of-the-week__cost {
  font-weight: 700;
  color: $greyish-brown;
  margin: auto;
  margin-bottom: 25px;
  letter-spacing: 0.2px;
}

@media (min-width: $tablet-width) {
  .product-of-the-week {
    margin-bottom: 50px;
  }

  .product-of-the-week__wrapper {
    max-width: $tablet-width;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
  }

  .product-of-the-week__title-product {
    font-size: 43px;
    line-height: 50px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 47px;
  }

  .product-of-the-week__title {
    max-width: 80px;
    line-height: 17px;
    margin: 0 auto;
    margin-top: 23px;
    margin-right: 73px;
    text-align: center;
  }

  .product-of-the-week__description {
    max-width: 300px;
    margin-left: 49px;
    margin-right: 49px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .product-of-the-week__list {
    font-size: 14px;
    margin-left: 48px;
    margin-right: 45px;
    width: 291px;
    line-height: 21px;
    margin-bottom: 59px;
  }

  .product-of-the-week__row {
    height: 38px;
    letter-spacing: 0.5px;
  }

  .product-of-the-week__field {
    padding-left: 0;
  }

  .product-of-the-week__picture {
    width: 333px;
    height: 404px;
    margin: 0;
    margin-top: -117px;
  }

  .product-of-the-week__cost {
    font-size: 20px;
    margin: 0;
    margin-top: -110px;
    margin-left: 120px;
  }

  .product-of-the-week__order {
    z-index: 1;
    margin-left: -220px;
    margin-top: -52px;
    padding: 14px 100px;
    width: 292px;
  }
}

@media (min-width: $desktop-width) {
  .product-of-the-week {
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 1050px;
  }

  .product-of-the-week__wrapper {
    position: relative;
    max-width: $desktop-width;
  }

  .product-of-the-week__title-product {
    z-index: 2;
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 48px;
    margin-left: 0;
    margin-top: 0;
    max-width: 550px;
  }

  .product-of-the-week__title {
    order: -1;
    margin-left: 41px;
    margin-right: 48px;
    padding-top: 15px;
    margin-top: 0;
  }

  .product-of-the-week__description {
    margin: 0 175px 47px;
  }

  .product-of-the-week__list {
    margin: 0 174px 107px;
  }

  .product-of-the-week__row {
    height: 39px;
  }

  .product-of-the-week__picture {
    position: absolute;
    width: 525px;
    height: 636px;
    margin: 0;
    margin-top: 0;
    right: 0;
    top: -52px;
  }

  .product-of-the-week__cost {
    margin: 0 400px 34px 247px;
  }

  .product-of-the-week__order {
    z-index: auto;
    margin: 0;
    margin-left: 175px;
  }
}
