.production {
  margin: auto;
  margin-bottom: 58px;
  display: flex;
  flex-wrap: wrap;
  max-width: 260px;
  border: 1px solid hsl(0, 0, 93%);

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  font-size: 17px;
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  padding-left: 89px;
  padding-top: 23px;
  padding-right: 10px;
}

.production__title--image {
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    left: 32px;
    top: 29px;
    background-image: url("../img/icon-video.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.production__wrapper {
  position: relative;
  margin-bottom: 28px;
}

.production__picture {
  margin: 0;
}

.production__video {
  display: block;
  width: 260px;
  height: 100%;
}

.production__video-btn {
  position: absolute;
  width: 101px;
  height: 77px;
  padding: 0;
  left: 78px;
  top: 37px;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.production__video-btn--interaction {
  &:hover,
  &:focus {
    transform: scale(1.2);
    transition-duration: 0.3s;
  }

  &:active {
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 30%;
  }
}

.production__description {
  color: hsl(0, 0%, 27%);
  font-size: 13px;
  padding: 0;
  margin: 0 33px;
  margin-bottom: 25px;
}

.production__order {
  width: 192px;
  margin-left: 34px;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .production__wrapper {
    order: -1;
  }

  .production {
    max-width: 668px;
    margin-bottom: 63px;
  }

  .production__video {
    width: 667px;
  }

  .production__video-btn {
    width: 102px;
    height: 78px;
    left: 283px;
    top: 186px;
  }

  .production__title {
    font-size: 20px;
    margin-bottom: 33px;
    padding-left: 105px;
    padding-top: 9px;
    padding-right: 50px;
    letter-spacing: 0.1px;
  }

  .production__title--image {
    &::before {
      left: 41px;
      top: 5px;
    }
  }

  .production__description {
    font-size: 15px;
    line-height: 30px;
    margin: 0 40px;
    margin-bottom: 34px;
  }

  .production__order {
    width: 584px;
    margin: 0 auto;
    margin-bottom: 46px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    max-width: 1049px;
    margin-bottom: 104px;
    flex-direction: column;
    padding-left: 682px;
    position: relative;
  }

  .production__wrapper {
    margin-bottom: 0;
    position: absolute;
    left: 0;
    top: 0;
  }

  .production__video {
    width: 682px;
  }

  .production__video-btn {
    left: 289px;
    top: 188px;
  }

  .production__title {
    max-width: 365px;
    min-height: 144px;
    align-self: flex-start;
    margin-bottom: 0;
    padding-left: 77px;
    padding-top: 95px;
  }

  .production__title--image {
    &::before {
      left: 78px;
      top: 41px;
    }
  }

  .production__description {
    max-width: 365px;
    padding-left: 77px;
    padding-right: 50px;
    margin: auto;
    margin-top: 33px;
    margin-bottom: 45px;
  }

  .production__order {
    width: 230px;
    margin-right: 57px;
    margin-bottom: 60px;
    min-height: 53px;
  }
}
