.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.site-list__item {
  position: relative;
  text-decoration: none;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 23%;
  padding-right: 0%;
  border-bottom: 1px solid hsl(0, 0, 93%);
  background-color: hsl(0, 0, 100%);
  letter-spacing: 0.1px;
}

.site-list__item--logo {
  min-width: 320px;
  padding-left: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  margin: auto;
  order: -1;
}

.site-list__item-icon {
  position: absolute;
  width: 21px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 31px;
  top: 30px;
}

.site-list__item-icon-search,
.site-list__item-icon-shopping-cart {
  fill: hsl(0, 0, 80%);
}

.site-list__item-text-search {
  margin: 0;
}

.site-list__item-shopping-cart-text {
  padding: 0;
  padding-left: 3px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    margin: auto;
    max-width: $tablet-width;
    position: relative;
  }

  .site-list__item {
    border: 1px solid hsl(0, 0, 93%);
    border-right: none;
    padding: 0;
    padding-top: 30px;
    width: 40.2%;
    display: flex;

    &:last-child {
      border-right: 1px solid hsl(0, 0, 93%);
      flex-grow: 2;
    }
  }

  .site-list__item--logo {
    margin: 0;
    padding-top: 22px;
    padding-left: 48px;
    padding-bottom: 20px;
    text-align: left;
    width: 370px;
  }

  .site-list__item--overflow {
    order: 1;
    border: none;
    background-color: transparent;
    font-size: 15px;
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 0;
    width: 24%;
  }

  .site-list__item--catalog {
    padding-left: 49px;
  }

  .site-list__item--search {
    width: 10.8%;
  }

  .site-list__item-text-search {
    display: none;
  }

  .site-list__item-shopping-cart {
    display: flex;
  }

  .site-list__item-icon {
    position: relative;
    margin: 0 29px;
    vertical-align: middle;
    left: 3px;
    top: 4px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    max-width: $desktop-width;
  }

  .site-list__item {
    padding-top: 30px;
    padding-bottom: 28px;
    width: 19.6%;
    letter-spacing: 0.1px;
  }

  .site-list__item--overflow {
    order: 0;
    border: 1px solid hsl(0, 0, 93%);
    border-right: none;
    padding-left: 35px;
    font-size: 17px;
  }

  .site-list__item--catalog {
    padding-left: 48px;
    width: 20.3%;
  }

  .site-list__item--logo {
    display: flex;
    min-width: auto;
    order: 0;
    width: 25.5%;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 7px;
    border: 1px solid hsl(0, 0, 93%);
    border-right: none;
    border-left: none;
  }

  .site-list__item--search {
    width: 7.1%;
  }

  .site-list__item--cart {
    width: 27.5%;
  }

  .site-list__item-icon {
    margin: 0 28px;
  }
}
