.social {
  width: 100%;
}

.social__list {
  display: flex;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 21px;
  padding: 0;
}

.social__item {
  margin: auto;
  margin-right: 40px;
  list-style: none;
  justify-content: space-between;

  &:last-child {
    margin-right: 0;
  }
}

// .social__link {}

// .social__link--vkontakte {}

.social__link--facebook {
  display: block;
  padding-left: 1px;
  margin-top: -1px;
}

// .social__link--instagram {}

@media (min-width: $tablet-width) {
  .social {
    width: 44.4%;
    margin: auto;
  }

  .social__list {
    margin-top: 29px;
  }
}
