.social {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid hsl(0, 0, 93%);
  margin: auto;
  margin-left: 22.2%;
  margin-top: 25px;
  padding: 0;
  padding-bottom: 21px;
}

.social__item {
  margin: auto;
  list-style: none;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link--facebook {
  display: block;
  margin-top: -1px;
}

@media (min-width: $tablet-width) {
  .social {
    max-width: 600px;
    margin: auto;
    margin-top: 58px;
    border-bottom: none;
  }

  .social__item {
    &:first-child {
      margin-left: -5px;
    }
  }
}
