.store-assortment {
  display: block;
  width: 320px;
}

.store-assortment__list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
}

// .store-assortment__menu {}
