.type {
  border: none;
}

.type__list {
  list-style: none;
  padding: 0;
}

.type__item {
  font-weight: 700;
  line-height: 18px;
  padding-left: 62px;
  margin-bottom: 9%;
}

.type__item-interior {
  & + label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
  }

  &:hover + label,
  &:focus + label {
    color: lighten($color, 40%);
  }

  &:active + label {
    color: lighten($color, 70%);
  }
}

.type__item-radio {
  & + label::before {
    content: "";
    position: absolute;
    left: -62px;
    top: -9px;
    width: 40px;
    height: 39px;
    border: 2px solid hsl(0, 0%, 27%);
    border-radius: 50%;
  }

  &:checked + label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -49px;
    width: 7px;
    height: 7px;
    border: 7px solid hsl(168, 55%, 60%);
    border-radius: 50%;
  }

  &:hover + label::before,
  &:focus + label::before {
    border: 2px solid hsl(168, 55%, 60%);
  }

  &:active + label::before {
    border: 2px solid hsl(0, 0%, 78%);
  }
}

@media (min-width: $tablet-width) {
  .type__item {
    margin-bottom: 57px;
    font-size: 19px;
    padding-left: 81px;
  }

  .type__item-radio {
    & + label::before {
      left: -81px;
      top: -15px;
      width: 52px;
      height: 52px;
    }

    &:checked + label::after {
      top: 1px;
      left: -64px;
      border: 10px solid #61d1bb;
    }
  }
}

@media (min-width: $desktop-width) {
  .type__item {
    padding-left: 85px;
  }
}
