.user-information {
  margin-bottom: 32px;
}

.user-information__title {
  margin-bottom: 26px;
}

.user-information__list {
  list-style: none;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .user-information {
    margin-bottom: 27px;
  }

  .user-information__title {
    margin-top: 18px;
  }

  .user-information__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .user-information__title {
    padding-left: 6px;
  }
}
