$greyish-brown: hsl(0, 0, 27%);
$greeny-blue: hsl(171, 50%, 52%);
$color: hsl(0, 0%, 0%);
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
